@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-slate-100;
  font-family: 'Teko', sans-serif;
}

.no-resize {
  resize: none;
}

textarea:focus {
  outline: none;
}
